* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    background-color: black;
    width: 50%;
    margin: auto;
    margin-top: 5rem;
    border-radius: .5rem;
    padding: 1rem;
    border: 1px solid white;
}
h1 {
    display: flex;
    justify-content: center;
}

.faixa {
    background-color: white;
    height: .05rem;
    width: 90%;
    margin: auto;
}

.input-wrapper {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}
label {
    display: flex;
    padding: 0 2rem;
    font-weight: 600;
    font-size: 1.3rem;
}

input {
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    background-color: #f0f8ffbe;
    padding: 1rem;
}

button{
    display: flex;
    margin: auto;
    margin-top: 3rem;
    width: 30%;
    padding: 1rem;
    border: none;
    justify-content: center;
    border-radius: .5rem;
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: 600;
    border: 2px solid black;
}

#btn:hover {
    border: 2px solid #2828ffe3;
    color: #2828ffe3;
}

#btn2:hover {
    border: 2px solid rgb(255, 18, 18);
    color:rgb(255, 18, 18);
}



.result {
    width: 80%;
    height: 10rem;
    background-color: white;
    border-radius: .5rem;
    color: black;

    display: flex;
    margin: auto;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.2rem;
}

body {
    font-family: "Poppins", sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.87);
}

@media (max-width: 600px) {
    #container {
        width: 99%;
        margin-bottom: 5rem;
    }

    .result {
        font-size: .5rem;
    }
}
